name: CI
on:
  push:
    branches:
      - master
  pull_request: null
  schedule:
    -
      cron: '0 0 * * MON'
jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php-version: ['8.1']
        composer-flags: ['']
        name: ['']
        include:
          - php-version: '8.1'
            composer-flags: '--prefer-lowest'
            name: '(prefer lowest dependencies)'
    name: Tests PHP ${{ matrix.php-version }} ${{ matrix.name }}
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: setup
        uses: shivammathur/setup-php@2.9.0
        with:
          php-version: ${{ matrix.php-version }}
      - name: composer install
        run: composer update --prefer-dist --no-interaction ${{ matrix.composer-flags }}
      - name: Build docker
        run: docker build -t httpbin .
      - name: Run docker
        run: docker run -d -p 8081:80 httpbin
      - name: tests
        run: composer test
